{% block form_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-xs-1">
                <select name="uri_type">
                    <option value="{{ constant('\\Alpixel\\Bundle\\MenuBundle\\Entity\\Item::URI_TYPE_ANCHOR') }}">Ancre</option>
                    <option value="{{ constant('\\Alpixel\\Bundle\\MenuBundle\\Entity\\Item::URI_TYPE_INTERNAL') }}">Interne</option>
                    <option value="{{ constant('\\Alpixel\\Bundle\\MenuBundle\\Entity\\Item::URI_TYPE_EXTERNAL') }}">Externe</option>
                </select>
            </div>
            <div class="col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon" id="input-group-addon-uri"></span>
                    {{ form_widget(form, {attr: {style: 'width: 700px;'}}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock form_row %}
